body {
  text-align: center;
}

#color-palette {
  margin-bottom: 15px;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.black,
.selected {
  background-color: black;
}

#clear-board {
  margin: 10px;
}

#pixel-board {
  margin-top: 20px;
  display: inline-block;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}
