#title {
  text-align: center;
}

#color-palette {
  margin-left: 43.5%;
}
.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.black,
.selected {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

#pixel-board {
  margin-left: 41.5%;
}
.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}
