* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0 20px;
}

header {
  margin: 20px 0;
}

#color-palette {
  margin-bottom: 10px;
}

.color {
  display: inline-block;
  border: solid 1px;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.black,
.selected {
  background-color: black;
}

#pixel-board {
  margin-top: 20px;
  display: inline-block;
}

.pixel {
  display: table-cell;
  border: solid 1px;
  height: 40px;
  width: 40px;
}

/* display: table-cell - faz com que o elemento e seus 'filhos' tenham comportamento semelhante a uma tabela */
